Flask==2.3.2
Flask-WTF==0.14.3
kaleido==0.0.3.post1
nltk==3.5
numpy==1.22.0
pandas==1.0.5
plotly==4.9.0
psutil==5.7.0
scikit-learn==0.21.2
textblob==0.15.3
youtube-data-api==0.0.20
WTForms==2.3.3
wordcloud==1.7.0
